<form (submit)="signinSubmit($event)">
    <div>
        <label>Ime:</label>
        <input type="name" name="user-name" [(ngModel)]="firstname"/>
    </div>
    <div>
        <label>Prezime:</label>
        <input type="name" name="user-lastname" [(ngModel)]="lastname"/>
    </div>
    <div>
        <label>E-mail</label>
        <input type="email" name="user-email" [(ngModel)]="email"/>
    </div>
    <div>
        <label>Lozinka:</label>
        <input type="password" name="user-password" [(ngModel)]="password"/>
    </div>
    <div>
        <button>Prijavi se</button>
    </div>
</form>