<form (submit)="signinSubmit($event)">
    <div>
        <label>Ime:</label>
        <input type="name" name="user-name" *ngIf="user" [(ngModel)]="user.name"/>
    </div>
    <div>
        <label>Prezime:</label>
        <input type="name" name="user-lastname" *ngIf="user" [(ngModel)]="user.lastname"/>
    </div>
    <div>
        <label>E-mail</label>
        <input type="email" name="user-email" *ngIf="user" [(ngModel)]="user.email"/>
    </div>
    <div>
        <label>Lozinka:</label>
        <input type="password" name="user-password" *ngIf="user" [(ngModel)]="user.password"/>
    </div>
    <div>
        <button>Prijavi se</button>
    </div>
</form>