<form (submit)="loginSubmit($event)">
    <mat-form-field class="field-input">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" name="user-email" [(ngModel)]="userEmail" [formControl]="emailFormControl" placeholder="Email">
    </mat-form-field>
    <mat-form-field class="field-input">
        <mat-label>Lozinka:</mat-label>
        <input matInput type="password" name="user-password" [(ngModel)]="userPassword" [formControl]="passwordFormControl" placeholder="Password"/>
    </mat-form-field>
    <div>
        <button mat-flat-button>Prijavi se</button>
    </div>
</form>