.displayShow{
    display: flex;
}

.displayNone{
    display: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-style: bold;
    height: 100%;
    width: 100%;
}

a:hover{
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.search-bar{
    position: relative;
    display: inline-block;
}

.search-bar-main{
    display: flex;
    flex-direction: column;
}

.search-bar-input > input[type='text']{
    height: 20px;
    min-width: 230px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar-view{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.search-bar-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items:center;
    padding: 5px;
    width: 93%;
    border: 1px dashed rgba(2, 53, 87, 0.996);
}

.search-bar-data:hover{
    background-color: #3498DB;
}

.search-bar-data > img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

.search-bar-data > label{
    font-size:small;
}