<div class="search-bar-main">
    <a (click)="triggerSearchBar()" class="search-button">Pretrazi</a>
    <div *ngIf='isOpen' class="search-bar">
        <div class="search-bar-input">
            <input type="text" (input)="onQueryInput($event)" [(ngModel)]="queryText" autofocus>
        </div>
        <div class="search-bar-view">
            <div class="search-bar-data" *ngFor="let objava of objave" (click)="onDataClick(objava._id)" [routerLink]="['/show-details',objava._id]" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src={{objava.picture}}><label>{{objava.name}}</label>
            </div>
        </div>
    </div>
</div>