<div class="header">
    <a [routerLink]="['']" routerLinkActive="active" (click)="onPocetna()">Pocetna</a>
    <app-search-bar></app-search-bar>
    <a [routerLink]="['/log-in']" *ngIf="(user?.email==='')" routerLinkActive="active">Log in</a>
    <a [routerLink]="['/sign-in']" *ngIf="(user?.email==='')"  routerLinkActive="active">Register</a>
    <a [routerLink]="['/profile']" *ngIf="(user?.email!=='')" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onProfile()">Profile</a>
    <a [routerLink]="['']" *ngIf="(user?.email!=='')" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onLogout()">Log out</a>
    <a [routerLink]="['/new-post']" *ngIf="(user?.email!=='')" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onNewPost()">New post</a>
</div>