<h2>Change only the fileds you want to change,do not delete others.</h2>
<form (submit)="onSubmit($event)">
    <div>
        <label>Name:</label>
        <input type="name" [(ngModel)]="name" name="objava-name"/>
    </div>
    <div>
        <label>Text:</label>
        <textarea type="text" rows="20" cols="30" [(ngModel)]="text" name="objava-text"></textarea>
    </div>
    <div>
        <label>Picture:</label>
        <input type="file" name="objava-picture" (change)="loadPicture($event)"/>
    </div>
    <div>
        <label>Tags:(enter separated by comma |,|)</label>
        <input type="name"  [(ngModel)]="tags" name="objava-tags"/>
    </div>
    <div>
        <label>Image preview:</label>
        <img src="{{picture}}" class="picturePreview" *ngIf="(picture!=='')"/>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
