<div class="footer">
    <div class="footer-info">
        <label>Postnews</label>
        <label>+381 XXXXXXXX</label>
        <label>+381 XXXXXXXX</label>
        <label>Ulica Nikole Pasica 99</label>
        <label>Nis</label>
    </div>
    <div class="footer-links">
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <a href="https://www.pinterest.com" target="_blank">Pinterest</a>
    </div>
</div>